main {
    #cover {
        width: 100%;
        height: 92.5vh;
        position: relative;
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}