header {
    position: fixed;
}

main {
    #cover {
        aspect-ratio: 16/9;
        width: 100%;
        position: relative;
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
        
        #cover-content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #00000055;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            p {
                color: var(--white);
            }
            
            #cover-logo {
                width: 20%;
                margin-bottom: 2.5%;
            }
            
            #cover-mainText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 2%;
                max-width: 75%;

                #cmt-year {
                    font-size: 2rem;
                    font-weight: normal;
                }
                
                p {
                    font-size: 5em;
                    text-align: center;
                    font-weight: bold;
                }
            }
            
            #cover-dates {
                padding: .75% 1%;
                background-color: var(--blue);
                transition: .5s ease;
                border-radius: 5px;
                
                p {
                    font-weight: bold;
                    font-size: 1.5em;
                    
                    &:hover {
                        cursor: default;
                    }
                }
                
                &:hover {
                    transform: rotate(-2.5deg);
                }
            }
        }
    }
}