header {
    position: fixed;
}

main {
    #cover {
        aspect-ratio: 16/9;
        width: 100%;
        position: relative;
        
        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
        }
        
        #cover-content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #00000055;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            p {
                color: var(--white);
            }
            
            #cover-logo {
                width: 20%;
                margin-bottom: 2.5%;
            }
            
            #cover-mainText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 2%;
                max-width: 75%;

                #cmt-year {
                    font-size: 2rem;
                    font-weight: normal;
                }
                
                p {
                    font-size: 5em;
                    text-align: center;
                    font-weight: bold;
                }
            }
            
            #cover-dates {
                padding: .75% 1%;
                background-color: var(--blue);
                transition: .5s ease;
                border-radius: 5px;
                
                p {
                    font-weight: bold;
                    font-size: 1.5em;
                    
                    &:hover {
                        cursor: default;
                    }
                }
                
                &:hover {
                    transform: rotate(-2.5deg);
                }
            }
        }
    }
    
    #editions {
        padding: 1% 0;
        
        h2 {
            padding-bottom: .25%;
        }
        
        #editions-repeater {
            width: 100%;
            
            #er-inner {
                width: 100%;
                display: flex;
                overflow-x: scroll;

                .er-item {
                    background-color: var(--black);
                    width: 23.5%;
                    margin: 0 .25%;
                    flex-shrink: 0;
                    border-radius: 5px;
                    overflow: hidden;
                    
                    p {
                        color: var(--white);
                    }
                    
                    .ert-cover {
                        position: relative;
                        aspect-ratio: 16/9;
                        width: 100%;
                        overflow: hidden;
                        
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: .5s ease;
                        }
                        
                        .ertc-content {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-image: linear-gradient(#00031600,#00031675);
                            padding: 2.5%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-start;
                            
                            h3 {
                                color: var(--white);
                            }
                            
                            .year-badge {
                                background-color: var(--purple);
                                padding: .75% 2.5%;
                                border-radius: 5px;
                            }
                        }
                    }
                    
                    &:hover {
                        .ert-cover {
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}