main {
    #cover {
        aspect-ratio: 21/9;
        width: 100%;
        height: 92.5vh;
        position: relative;
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            aspect-ratio: 21/9;
            width: 100%;
        }
        
        #cover-content {
            position: absolute;
            top: 0;
            left: 0;
            aspect-ratio: 21/9;
            width: 100%;
            background-color: #00000055;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            p {
                color: var(--white);
            }
        }
    }
}