:root {
    --white: #FFFFFF;
    --black: #000316;
    --purple: #9F1F96;
    --blue: #280D7E;
    --header-background: #280D7E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: lato;
    font-weight: 1000;
    font-size: 2em;
    margin: 0 0 .5% .75%;
}

p {
    font-family: lato, sans-serif;
}

body {
    height: 100vh;
}

header {
    width: 100%;
    height: 10vh;
    padding: 0 2%;
    
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--header-background);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
        color: var(--white);
    }
    
    #header-logo {
        width: 10%;
        
        img {
            width: 100%;
        }
    }
    
    nav {
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: right;
        
        .navItem {
            border-top: 5px solid transparent;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 3%;
            text-wrap: nowrap;
            text-decoration: none;
            margin: 0 1%;
            
            p {
                font-size: 1.1em;
                font-weight: bold;
            }
            
            &:hover {
                border-top: 5px solid var(--purple);
            }
        }
        
        .ni-selected {
            border-top: 5px solid var(--purple);
        }
        
        .navTicketsBtn {
            border: 3px solid var(--purple);
            background-color: var(--purple);
            height: fit-content;
            padding: 5.75% 10%;
            margin-left: 2.5%;
            border-radius: 5px;
            transition: .5s ease;
            
            &:hover {
                border: 3px solid var(--purple);
                background-color: transparent;
                scale: 0.95;
            }
        }
    }
}

main {
    min-height: 100%;
}

footer {
    background-color: var(--black);
    padding: 1%;
    
    p {
        color: var(--white);
        
        a {
            text-decoration: none;
            color: var(--purple);
        }
    }
}