:root {
    --white: #FFFFFF;
    --header-background: #280D7E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: lato;
}

body {
    height: 100vh;
}

header {
    width: 100%;
    height: 10vh;
    padding: 0 2%;
    
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--header-background);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
        color: var(--white);
    }
    
    #header-logo {
        width: 10%;
        
        img {
            width: 100%;
        }
    }
    
    nav {
        height: 100%;
        display: flex;
        align-items: center;
        
        .navItem {
            border-top: 5px solid transparent;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1%;
            padding: 0 2%;
        }
        
        .ni-selected {
            border-top: 5px solid #FFFFFF;
        }
    }
}

main {
    min-height: 100%;
}

footer {
    padding: 1%;
}