@page "/"
@model IndexModel
@{
    ViewData["Title"] = "HOME";
}

<section id="cover">
<iframe src="https://www.youtube.com/embed/9sHljO2d1zg?si=rqFWMMcd2W1r0O1M&loop=1&playlist=9sHljO2d1zg&mute=1&autoplay=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<div id="cover-content">
	<img id="cover-logo" src="~/assets/img/if25-logo.png" alt="">
	<div id="cover-mainText">
		<p id="cmt-year">- Since 2004 -</p>
		<p>Join us in a fantastic themed world full of great experiences.</p>
	</div>
	<div id="cover-dates">
		<p>5, 6, 7 JUNE 2026</p>
	</div>
</div>
</section>
