@page "/"
@model IndexModel
@{
    ViewData["Title"] = "HOME";
}

<section id="cover">
<iframe src="https://www.youtube.com/embed/_a_oCdZRbHM?si=oFWzG6VHk7Jb_TX3&loop=1&playlist=_a_oCdZRbHM&mute=1&autoplay=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<div id="cover-content">
	<p>5, 6, 7 JUNE 2026</p>
</div>
</section>
